* {
    font-family: sans-serif;
    font-weight: 600;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 500px;
    margin: 2rem auto;
}

h1 {
    font-size: 2rem;
}

.loading-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #ececec;
    border-radius: 0.5rem;

    padding: 0.5rem;
    margin: 0.75rem 0;
}

.loading-bar {
    height: 1rem;

    background-color: #ececec;

    border-radius: 1rem;
}

.flash-container {
    border: 1px solid #ececec;
    border-radius: 1rem;
}

.flash-card {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;

    height: 300px;
    width: 490px;

    background-color: #f5f5f5;

    margin: 0.25rem auto;
    border-radius: 1rem;
}

.flash-card p {
    width: 70%;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f5f5f5;
    border-radius: 0.5rem;
}

.button-container button {
    font-size: 1.1rem;
    font-weight: 500;

    background-color: #f5f5f5;
    color: gray;

    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;

    cursor: pointer;
}

.button-container button:nth-child(2) {
    color: black;
}

.desactive {
    display: none;
}
