* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 1.25rem;
    font-family: sans-serif;
}

.container {
    width: 500px;
    height: 500px;

    margin: 3rem auto 0;
}

.dropdown {
    width: 60%;
    display: flex;
    flex-flow: column;
}

.default-state {
    position: relative;

    border: 2px solid black;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.default-state::after {
    content: ">";
    position: absolute;
    display: inline-block;

    bottom: 0.375rem;
    right: 1rem;

    transform: rotate(90deg);
    transition: 0.3s ease;
}

.default-state.droped::after {
    transform: rotate(-90deg);
}

.dropdown button {
    background-color: white;

    padding: 0.375rem;
    width: 100%;

    text-align: left;
    padding-left: 1rem;

    cursor: pointer;
}

.options button {
    border-bottom: 1px solid black;
    border-bottom: none;
}

.options button:hover {
    background-color: gray;
}

.options button:nth-child(1) {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.options button:nth-last-child(1) {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 1px solid black;
}

.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    display: inline-block;

    bottom: 0.5rem;
    right: 0.5rem;

    background-color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    background-image: url("../image/check_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}
