* {
    font-family: sans-serif;

    box-sizing: border-box;
    font-weight: 600;
}

.container {
    width: 70vw;
    max-width: 500px;

    margin: 2rem auto;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 1.25rem;
}

h1 {
    text-align: center;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1.25rem;

    width: 5rem;
}

input[type="number"]:nth-of-type(1),
input[type="number"]:nth-of-type(2) {
    width: 2.5rem;
}

span:nth-of-type(1)::after,
span:nth-of-type(2)::after {
    content: "/";
}

.date-inputs {
    position: relative;
    display: flex;

    align-items: center;

    border: 2px solid black;
    border-radius: 0.5rem;

    margin: 0.5rem 0;
    padding: 0.5rem;
}

button[type="submit"] {
    width: 100%;
    background-color: gray;

    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;

    font-size: 1.25rem;
    font-weight: 500;
}

button[type="submit"]:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.calendar {
    position: absolute;
    right: 1rem;

    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;

    color: black;

    background-image: url("../image/calendar_month_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.result {
    font-size: 1.25rem;
    text-align: center;
}
